@mixin is-background($color, $link) {
  color: $color;
  background: url($link) no-repeat;
  background-size: cover;
  background-position: center center;
}
#main {
  @include is-background($white, '../background/main.png')
}
#live {
  @include is-background($black, '../background/live.png')
}
#styles {
  @include is-background($black, '../background/styles.png')
}
#schedule {
  @include is-background($black, '../background/shedule.png')
}
#contacts {
  @include is-background($white, '../background/contacts.png')
}
#not-found {
  height: 100vh;
  @include center;
  text-align: center;
  a {
    font-size: 18px;
    color: $black;
    display: block;
  }
}
#other {
  color: $black;
  background: $white;
}
//@media #{$desktop} {
//  #main {
//    background-position: 94%;
//  }
//  .container {
//    min-height: 100vh;
//    margin: auto;
//    width: 1024px;
//  }
//}
//@media #{$tablet} {
//  #main {
//    background-position: 76%;
//  }
//
//  .container {
//    min-height: 100vh;
//    margin: auto;
//    width: 800px;
//  }
//}
//@media #{$mini-laptop} {
//  .container {
//    width: 100%;
//  }
//}
//
//@media #{$laptop} {
//  #main {
//    background-position: 82%;
//  }
//}
//
//@media #{$mini-iPad} {
//  #main {
//    background-position: 74%;
//  }
//}
//
//@media #{$map-case} {
//  #main {
//    background-position: 69%;
//  }
//}
//
//@media #{$medium} {
//  #main {
//    background-position: 65%;
//  }
//}
//
//@media #{$phone-plus} {
//  #main {
//    background-position: 67%;
//  }
//}
//
//@media #{$retina} {
//  #main {
//    background-position: 64%;
//  }
//}
//@media #{$mobile} {
//  #main {
//    background-position: 61%;
//  }
//}
//
//@media #{$small} {
//  #main {
//    background-position: 63%;
//  }
//}
//
//@media #{$mini} {
//  #main {
//    background-position: 67%;
//  }
//}
@media #{$tablet} {
  #contacts {
    background-position: right;
  }
}
