.menu {
  padding: 10px 0 20px;
  &-desktop-nav {
	text-transform: uppercase;
	font-size: 14px;
	font-family: $lusya;
	ul {
	  list-style: none;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  li {
		.menu-desktop-logo {
		  margin: 0 -30px 0 30px;
		}
		.black {
		  color: $black;
		}
		.white {
		  color: $white;
		}
		.white, .black {
		  &:hover {
			color: $red;
			cursor: pointer;
		  }
		}
	  }
	}
  }
  &-mobile {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	position: relative;
	z-index: 1000;
	&-button {
	  width: 40px;
	  height: 40px;
	  padding: 6px;
	  display: block;
	  position: relative;
	  margin-top: 20px;
	  z-index: 100;
	  box-sizing: content-box;
	  border-radius: 50%;
	  text-indent: 100%;
	  color: transparent;
	  white-space: nowrap;
	  cursor: pointer;
	  overflow: hidden;
	  outline: none;
	  &--open {
		top: 50%;
		margin-top: -1px;
		left: 50%;
		margin-left: -12px;
	  }
	  &--open,
	  &--open::before,
	  &--open::after {
		position: absolute;
		width: 24px;
		height: 2px;
		background: #fff;
		border-radius: 4px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	  }
	  &--open::before,
	  &--open::after {
		left: 0;
		content: "";
	  }
	  &--open::before {
		top: 6px;
	  }
	  &--open::after {
		bottom: 6px;
	  }

	  &--close {
		background: transparent;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	  }
	  &--close::before {
		-webkit-transform: translateY(-6px) rotate(45deg);
		transform: translateY(-6px) rotate(45deg);
	  }
	  &--close::after {
		-webkit-transform: translateY(6px) rotate(-45deg);
		transform: translateY(6px) rotate(-45deg);
	  }
	}
  }
}

.white.menu-mobile-button {
  background: $black;
  border: 5px solid $white;
}

.red.menu-mobile-button {
  background: $red;
  border: 5px solid $white;
}

.black.menu-mobile-button {
  background: $white;
  border: 5px solid $black;
}

.black .menu-mobile-button {
  &--open,
  &--open::before,
  &--open::after {
	background: $black;
  }
}

@media #{$laptop} {
  .menu {
	padding: 10px 16px 20px;
	&-desktop-nav > ul > li > .menu-desktop-logo {
		margin: 0 -10px 0 10px;
	}
  }
}
