.modal {
  width: 400px;
  background: $white;
  color: $black;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  font-family: $vera;
  &-close {
	@include rhombus-c(36, $black, $white, $black, $red, $red, $white);
	border: 1px solid #c7c0c0;
	position: absolute;
	right: -18px;
	top: -18px;
	cursor: pointer;
	font-weight: bold;
  }
  &-form {
	padding: 45px 25px 30px;
	text-align: center;

	&-text {
	  font-weight: bold;
	  line-height: 1.833;
	}

	&-input {
	  width: calc(100% - 13px);
	  border: 1px solid $black;
	  line-height: 40px;
	  margin: 15px 0;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  outline: none;
	  padding-left: 10px;
	  font-size: 14px;

	  &::-webkit-input-placeholder,
	  &::-moz-placeholder,
	  &:-ms-input-placeholder,
	  &:-moz-placeholder {
		color: $black;
		padding-left: 10px;
	  }
	  &:focus {
		border: 1px solid $red;
	  }
	}
  }
}

//@media #{$mobile} {
//	.wrapper_window .modal-block {
//		width: 365px;
//	}
//}
//
//
//@media #{$small} {
//	.wrapper_window .modal-block {
//		width: 345px;
//	}
//}
//
//@media #{$mini} {
//	.wrapper_window .modal-block {
//		width: 295px;
//	}
//}

