.footer {
  padding: 24px 21px 8px;
  position: fixed;
  width: 1158px;
  bottom: 20px;
  &-nav {
	position: relative;
	margin-bottom: 26px;
	&-scroll {
	  display: flex;
	  justify-content: space-between;
	  list-style: none;
	  position: relative;
	  &:before {
		border-top: 1px solid $black;
		content: '';
		position: absolute;
		width: 100%;
		top: 5px;
	  }
	  li {
		width: 10px;
		height: 10px;
		background: $black;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		position: relative;
		&:first-child:after, &:last-child:after {
		  @include rhombus-c(35, $black, initial, inherit);
		  content: '';
		  position: absolute;
		  top: -13px;
		  left: -14px;
		}
	  }
	}
	&-ranger {
	  position: absolute;
	  top: -7px;
	  left: -8px;
	  cursor: pointer;
	  &:before {
		@include rhombus-c(23, $black, $black, inherit);
		content: '';
	  }
	}
  }
  &-content {
	text-align: center;
	font-family: $vera;
	font-size: 12px;
	font-weight: 400;
	color: $black;
	&:before {
	  content: 'Крути колесико мыши или передвигай ромб, чтобы узнать о нас больше';
	}
  }
}

.white .footer{
  &-nav {
	&-scroll {
	  &:before {
		border-top: 1px solid $white;
	  }
	  li {
		background: $white;
		&:first-child:after, &:last-child:after {
		  @include rhombus-c(35, $white, initial, inherit);
		}
	  }
	}
	&-ranger {
	  &:before {
		@include rhombus-c(23, $white, $white, inherit);
	  }
	}
  }
  &-content {
	color: $white;
  }
}

@media #{$laptop} {
  .footer {
	width: 982px;
  }
}
@media #{$tablet} {
  .footer {
	width: inherit;
	&-content {
	  font-size: 14px;
	  &:before {
		content: 'Двигай влево и вправо страницу, чтобы узнать о нас больше';
	  }
	}
  }
}
