$mini: "(max-width: 384px)";
$small: "(min-width: 385px) and (max-width: 414px)";
$mobile: "(min-width: 415px) and (max-width: 480px)";
$retina: "(min-width: 481px) and (max-width: 568px)";

$phone-plus: "(min-width: 569px) and (max-width: 599px)";
$medium: "(min-width: 600px) and (max-width: 667px)";
$map-case: "(min-width: 668px) and (max-width: 736px)";
$mini-iPad: "(min-width: 737px) and (max-width: 767px)";




//Новые расчеты:
//от 0 до 767
//от 768 до 1023
//от 1024 до 1199
//от 1200

$laptop: "(min-width: 1024px) and (max-width: 1199px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
