.sidebar {
  position: relative;
  font-size: 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  ul {
	a, span {
	  color: $white;
	  li {
		border-bottom: 1px solid $white;
		padding: 20px;
		background-color: rgba(29, 29, 29, 0.8);
		&:hover {
		  background-color: $red;
		}
		&:first-child {
		  border-top: 1px solid $white;
		}
	  }
	}
  }
}
