.sign-up {
  background: $red;
  border: 1px solid $red;
  color: $white;
  text-transform: $up;
  font-size: $def-size;
  font-family: $medium;
  padding: 13px 30px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  &:hover {
    background: $bright-red;
    border: 1px solid $bright-red;
  }
}
a.sign-up {
  display: inline-block;
}
//@media #{$small} {
//  .sign-up {
//    padding: 0 10px
//  }
//}
//@media #{$mini} {
//  .sign-up {
//    padding: 0 7px;
//    font-size: 12px;
//  }
//}
