$font-dir: '../fonts/';
@font-face {
  font-family: "HelveticaNeueCyr-UltraLight";
  src: url("#{$font-dir}HelveticaNeueCyr-UltraLight.eot");
  src: url("#{$font-dir}HelveticaNeueCyr-UltraLight.eot?#iefix")format("embedded-opentype"),
  url("#{$font-dir}HelveticaNeueCyr-UltraLight.woff") format("woff"),
  url("#{$font-dir}HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("#{$font-dir}HelveticaNeueCyr-Bold.eot");
  src: url("#{$font-dir}HelveticaNeueCyr-Bold.eot?#iefix")format("embedded-opentype"),
  url("#{$font-dir}HelveticaNeueCyr-Bold.woff") format("woff"),
  url("#{$font-dir}HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("#{$font-dir}HelveticaNeueCyr-Medium.eot");
  src: url("#{$font-dir}HelveticaNeueCyr-Medium.eot?#iefix")format("embedded-opentype"),
  url("#{$font-dir}HelveticaNeueCyr-Medium.woff") format("woff"),
  url("#{$font-dir}HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "LucidaSans";
  src: url("#{$font-dir}LucidaTypeWriter-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url("#{$font-dir}MinionPro-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("#{$font-dir}Verdana.ttf") format("truetype");
  font-style: normal;
}
