// Styles for Rhombus

@mixin rotate($size) {
  transform: rotate($size+deg);
  -ms-transform: rotate($size+deg);
  -webkit-transform: rotate($size+deg);
}

// Размеры для квадрата ромба

@mixin square($size) {
  width: $size+px;
  height: $size+px;
}

// Ромбы для слайдера

%rhombus {
  display: block;
  content: '';
  @include rotate(45)
}

// Обычный ромб

@mixin rhombus($size, $b_color, $color, $border) {
  @include rotate(45);
  @include square($size);
  background: $b_color;
  color: $color;
  display: block;
  content: '';
  border: 1px solid $border;
}

// Ромб с фотографиями внутри

@mixin rhombus-photo($size, $bool) {
  @include square($size);
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  @if $bool == true {
	border: 1px solid #e9e8e6;
	transform: rotate(45deg);
  }
}
// new rhombus + text

@mixin rhombus-c($size, $border, $background, $color, $h_border: 'inherit', $h_background: 'inherit', $h_color: 'inherit') {
  @include rotate(45);
  @include center;
  @include square($size);
  border: 1px solid $border;
  background-color: $background;
  color: $color;
  span {
    @include rotate(-45);
    text-align: center;
  }
  &:hover {
    border: 1px solid $h_border;
    background-color: $h_background;
    color: $h_color;
  }
}

@mixin rhombus-img($size, $border) {
  @include rotate(45);
  @include center;
  @include square($size);
  border: 1px solid $border;
  overflow: hidden;
  img {
    @include rotate(-45);
    width: (($size / 2) + $size)+px;
  }
}
