$white: #fff;
$grey: #ceccc7;
$bright-grey: #aba79f;
$black: #000;
$red: #e00346;
$bright-red: #ff004d;
$light-grey: #ebebeb;
$bright-light-grey: #dedcdc;

$up: uppercase;
$def-size: 14px;

// variables of fonts

$bold: 'HelveticaNeueCyr-Bold';
$medium: 'HelveticaNeueCyr';
$ultra: 'HelveticaNeueCyr-UltraLight';
$lusya: 'LucidaSans';
$minion: 'MinionPro-Regular';
$vera: 'Verdana';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position($top, $left, $position: absolute) {
  top: $top + px;
  left: $left + px;
  position: $position;
}
