.contacts {
  font-family: $vera;
  font-size: 12px;
  &-title {
	text-align: center;
  }
  &-rhombus {
	padding-top: 120px;
	position: relative;
	&-info {
	  @include rhombus-c(300, $white, $white, $black);
	  @include position(0, 69, relative);
	}
	&-phone {
	  @include rhombus-c(150, $red, $red, $white);
	  @include position(409, 251);
	}
	&-address {
	  @include rhombus-c(150, $white, $white, $black);
	  @include position(409, 466);
	}
	&-online {
	  @include rhombus-c(150, $grey, $grey, $black, $bright-grey, $bright-grey);
	  @include position(302, 573);
	  cursor: pointer;
	}
  }
}
