@mixin wrapper-elements($top) {
  position: absolute;
  top: $top;
  width: auto;
  padding: 16px;
  color: $white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(199, 185, 185, 0.74)
  }
}

.live-jk {
  font-family: $vera;
  font-size: 12px;
  &-title {
    text-align: center;
    margin-bottom: 25px;
  }
  &-section {
    padding: 48px 0 0 48px;
    position: relative;
    &--rhombus {
      @include rhombus-c(200, $grey, $white, $black);
      &.awards {
        .bg-awards {
          width: 60px;
          height: 81px;
          background: url('../images/live/award-before.png') no-repeat;
        }
        &:hover .bg-awards {
          background: url('../images/live/award-after.png') no-repeat;
        }
      }
      &.gallery {
        @include position(190, 190);
        .bg-gallery {
          width: 72px;
          height: 55px;
          background: url('../images/live/photo_app-before.png') no-repeat center center;
        }
        &:hover .bg-gallery {
          background: url('../images/live/photo_app-after.png') no-repeat center center;
        }
      }
      &.review {
        @include position(332, 48);
        .bg-review {
            width: 65px;
            height: 58px;
            background: url('../images/live/review-before.png') no-repeat;
        }
        &:hover .bg-review {
          background: url('../images/live/review-after.png') no-repeat;
        }
      }
      &.content {
        @include position(190, 474);
      }
      &.awards, &.gallery, &.review {
        &:hover {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
  // other
  &-awards {
    padding: 30px;
    background: $white;
    font-size: 12px;
  }
  &-gallery {
    position: relative;
    padding-top: 60px;
    &-rhombus {
      @include rhombus-c(200, $grey, $white, $black, inherit, $red, $white);
      &.photo {
        @include position(30, 69)
      }
      &.video {
        @include position(314, 69)
      }
      &.back {
        @include position(172, 211)
      }
    }
  }
  &-photos {
    background: $white;
    text-align: center;
    &--photo {
      width: 195px;
      height: 127px;
      box-sizing: border-box;
      transform: translate(0px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 35%;
      background-color: #ecf1f5;
      border: 2px solid #fff;
      display: inline-block;
      cursor: zoom-in;
    }
    &-section {
      &--large-photo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        text-align: center;
        max-width: 1000px;
        color: $white;
        img {
          max-width: 1000px;
          height: 666px;
        }
      }
      &--close {
        @include wrapper-elements(0);
        right: 0;
      }
      &--prev, &--next {
        @include wrapper-elements(50%);
        margin-top: -50px;
      }
      &--next {
        right: 0;
      }
    }
  }
  &-information {
    @include center;
    height: calc(100vh - 500px);
    div {
      text-align: center;
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
  &-videos {
    @include center;
    flex-wrap: wrap;
    iframe {
      margin: 15px 0;
    }
  }
}

@media #{$laptop} {
  .live-jk {
    &-videos {
      iframe {
        margin: 8px;
      }
    }
  }
}

@media #{$tablet} {
  .live-jk {
    &-awards {
      margin: 0 16px;
    }
    &-photos {
      background: none;
    }
    &-photos-section {
      &--close {
        border: 5px solid $white;
        background-color: $red;
        color: $white;
        border-radius: 50%;
        top: 28px;
        right: 14px;
        width: 27px;
      }
    }
    &-videos {
      iframe {
        margin: 16px;
      }
    }
  }
}
