.main-page{
  display: flex;
  align-items: center;
  h1 {
	font-size: 75px;
	text-transform: $up;
	font-family: $bold;
	padding: 10px 0;
	i {
	  font-style: normal;
	  font-family: $ultra;
	}
  }
  &-description {
	max-width: 436px;
	line-height: 1.667;
	padding: 26px 0;
	font-family: $vera;
	font-size: 12px;
  }
  &-social-network {
	list-style: none;
	margin-top: 15px;
	li {
	  display: inline-block;
	}
  }
}

@media #{$tablet} {
  .main-page{
	section {
	  padding: 0 24px;
	}
  }
}
