@mixin review-text($boolean) {
  margin: 10px 0;
  padding-right: 10px;
  @if $boolean {
	height: 67px;
	overflow: hidden;
  }
}

@mixin review-about {
  color: $red;
  font-weight: bold;
  cursor: pointer;
  &:hover {
	color: $bright-red;
	text-decoration: underline;
  }
}

.review {
  &-title {
	text-align: center;
  }
  &-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	margin: 25px 0 10px;
	&-block {
	  display: grid;
	  grid-template-columns: 150px 1fr;
	  grid-template-rows: auto;
	  grid-gap: 25px;
	  &--rhombus {
		@include rhombus-img(100, $light-grey);
		margin: 20px;
	  }
	  &--information {
		padding: 15px 0 7px;
		&-name {
		  font-weight: bold;
		}
		&-text {
		  @include review-text(true);
		}
		&-about {
		  @include review-about;
		}
	  }
	}
  }
  &-member {
	margin-top: 50px;
	&-block {
	  display: grid;
	  grid-template-columns: 300px 1fr;
	  grid-template-rows: auto;
	  grid-gap: 25px;
	  &--rhombus {
		@include rhombus-img(200, $light-grey);
		margin: 45px;
	  }
	  &--information {
		padding: 30px;
		&-name {
		  font-weight: bold;
		}
		&-text {
			@include review-text(false);
		}
		&-about {
		  @include review-about;
		  grid-column: 1 / 3;
		  font-size: 16px;
		  text-align: center;
		}
	  }
	}
  }
}

@media #{$tablet} {
  .review {
	&-content{
	  &-block {
		grid-gap: 8px;
		padding: 0 16px;
	  }
	}
	&-member {
	  &-block {
		padding: 0 16px;
	  }
	}
  }
}
