.schedule {
  &-title {
	text-align: center;
  }
  &-table {
	padding: 24px 24px 0;
	&-desktop {
	  border: 1px solid $black;
	  display: grid;
	  grid-template-rows: auto;
	  grid-template-columns: 100px 1fr;
	  text-align: center;
	  background-color: $white;
	  &-hours {
		&--time {
		  line-height: 28px;
		}
		&--hour {
		  height: 74px;
		  @include center;
		  &:last-child {
			height: 75px;
		  }
		}
		&--time, &--hall, &--hour {
		  border: 1px solid $black;
		}
	  }
	  &-columns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: auto;
		&-column {
		  border: 1px solid $black;
		  &--day {
			border-bottom: 1px solid $black;
			line-height: 28px;
		  }
		  &--halls {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: auto;
			div {
			  border-top: 1px solid $black;
			  border-bottom: 1px solid $black;
			  &:nth-child(1) {
				border-right: 1px solid $black;
			  }
			  &:nth-child(2) {
				border-left: 1px solid $black;
			  }
			}
		  }
		  &--training {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: 76px;
			&-row {
			  border-top: 1px solid $black;
			  border-bottom: 1px solid $black;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  &:nth-child(1) {
				border-right: 1px solid $black;
			  }
			  &:nth-child(2) {
				border-left: 1px solid $black;
			  }
			  div {
				display: flex;
				flex-direction: column;
				a, p {
				  color: $black
				}
				a:hover {
				  text-decoration: underline;
				}
			  }
			}
			&:last-child div{
			  border-bottom: none;
			}
		  }
		}
	  }
	}
	&-mobile {
	  border: 1px solid;
	  display: grid;
	  grid-template-rows: auto;
	  grid-template-columns: 100px 1fr;
	  text-align: left;
	  background-color: $white;
	  margin-bottom: 30px;
	  &:last-child {
		margin-bottom: 0;
	  }
	  &--time {
		border-right: 1px solid $black;
	  }
	  &--time, &--day {
		text-align: center;
		font-weight: bold;
		line-height: 40px;
	  }
	  &--hall {
		border-right: 1px solid $black;
	  }
	  &--halls {
		display: grid;
		grid-template-columns: 1fr 1fr;
		div:nth-child(1) {
		  border-right: 1px solid $black;
		}
	  }
	  &--halls + div {
		border-right: 1px solid $black;
	  }
	  &--hall, &--halls {
		border-top: 1px solid $black;
		text-align: center;
	  }
	  &--hour {
		border-right: 1px solid $black;
		@include center;
	  }
	  &--training {
		display: grid;
		grid-template-columns: 1fr 1fr;
		div {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  a {
			color: $black;
		  }
		  &:nth-child(1) {
			border-right: 1px solid $black;
		  }
		}
	  }
	  &--hour, &--training {
		height: 80px;
		border-top: 1px solid $black;
		text-align: center;
	  }
	}
  }
}
