.dance {
  &-title {
	text-align: center;
  }
  &-content {
	display: grid;
	grid-template-columns: 1fr 450px;
	grid-template-rows: auto;
	&-styles {
	  position: relative;
	  padding-top: 30px;
	  &--rhombus {
		@include rhombus-c(137, #e9e8e6, $white, $black, inherit, $red, $white);
		&.active {
		  border: 1px solid #e9e8e6;
		  background-color: $red;
		  color: $white;
		}
	  }
	  #rhombus-hip-hop {
		@include position(29, 29);
	  }
	  #rhombus-twerk {
		@include position(29, 225);
	  }
	  #rhombus-tribal_fusion {
		@include position(29, 421);
	  }
	  #rhombus-reggaiton {
		@include position(127, 127);
	  }
	  #rhombus-locking {
		@include position(127, 323);
	  }
	  #rhombus-break { // - not used
		@include position(225, 29);
	  }
	  #rhombus-contemporary {
		@include position(225, 225);
	  }
	  #rhombus-vogue {
		@include position(225, 421);
	  }
	  #rhombus-strip_dance {
		@include position(323, 127);
	  }
	  #rhombus-popping {
		@include position(323, 323);
	  }
	  #rhombus-krump {
		@include position(421, 29);
	  }
	  #rhombus-house {
		@include position(421, 225);
	  }
	  #rhombus-high_heels {
		@include position(421, 421);
	  }
	}
	&-description {
	  width: 375px;
	  background-color: $white;
	  padding: 30px 25px;
	  height: 530px;
	  position: relative;
	  border: 1px solid #e9e8e6;
	  &--block {
		&-content {
		  height: 465px;
		  overflow: auto;
		  padding-right: 10px;
		  h3 {
			padding-bottom: 20px;
		  }
		  article {
			p {
			  padding: 10px 0;
			}
		  }
		}
		button {
		  position: absolute;
		  bottom: 30px;
		}
	  }
	}
  }
}

@media #{$laptop} {
  .dance {
	&-content {
	  grid-template-columns: 1fr 410px;
	  &-description {
		width: 347px;
	  }
	}
  }
}

@media #{$tablet} {
  .dance {
	&-content {
	  grid-template-columns: 1fr;
	  grid-gap: 20px;
	  &-styles {
		width: 590px;
		height: 560px;
		margin: auto;
	  }
	  &-description {
		width: 590px;
		margin: auto;
		height: auto;
		min-height: 70px;
		&--block {
		  &-content {
			height: 100%;
			article {
			  padding-bottom: 50px;
			}
		  }
		}
	  }
	}
  }
}
