.teachers {
  font-family: $vera;
  font-size: 12px;
  &-title {
	margin-bottom: 10px;
	p {
	  max-width: 760px;
	}
  }
  &-section {
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'Block Photos' 'Achievements Achievements';
	&-list {
	  grid-area: Block;
	  padding-bottom: 25px;
	  &--teacher {
		color: $black;
		display: inline-block;
		width: 100%;
		line-height: 35px;
	  }
	  .active {
		text-decoration: underline;
		font-size: 13px;
		font-weight: bold;
	  }
	  button {
		margin-top: 15px;
	  }
	}
	&-gallery {
	  grid-area: Photos;
	  &--rhombus {
		position: relative;
		&-vk-photo {
		  @include rhombus-img(150, $light-grey);
		  @include position(100, -2);
		}
		&-vk-link {
		  @include rhombus-c(50, $light-grey, $light-grey, inherit, $bright-light-grey, $bright-light-grey);
		  @include position(188, 155);
		}
		&-ig-photo {
		  @include rhombus-img(150, $light-grey);
		  @include position(100, 212);
		}
		&-ig-link {
		  @include rhombus-c(50, $light-grey, $light-grey, inherit, $bright-light-grey, $bright-light-grey);
		  @include position(188, 369);
		}
		&-all {
		  @include rhombus-img(200, $light-grey);
		  @include position(75, 436);
		}
		&-previous, &-next {
		  @include rhombus-c(50, $light-grey, $light-grey, inherit, $bright-light-grey, $bright-light-grey);
		  font-size: 24px;
		  cursor: pointer;
		}
		&-previous {
		  @include position(187, 654);
		}
		&-next {
		  @include position(224, 617);
		}
	  }
	}
	&-achievements {
	  grid-area: Achievements;
	  &-block {
		div {
		  padding: 10px;
		  span {
			font-weight: bold;
			margin-right: 10px;
		  }
		  a {
			margin-right: 5px;
			color: $black;
			&:hover {
			  font-weight: bold;
			  text-decoration: underline;
			}
		  }
		  span + p {
			margin-top: 10px;
		  }
		}
	  }
	}
  }
}

@media #{$laptop} {
  .teachers {
	&-section {
	  &-gallery {
		&--rhombus {
		  &-vk-photo {
			left: -35px;
		  }
		  &-vk-link {
			left: 121px;
		  }
		  &-ig-photo {
			left: 178px;
		  }
		  &-ig-link {
			left: 335px;
		  }
		  &-all {
			left: 402px;
		  }
		  &-previous {
			top: 219px;
			left: 588px;
		  }
		  &-next {
			top: 256px;
			left: 551px;
		  }
		}
	  }
	}
  }
}

@media #{$tablet} {
  .teachers {
	width: 736px !important;
	&-section {
	  &-gallery {
		&--rhombus {
		  &-vk-photo {
			top: 24px;
			left: 61px;
			@include rhombus-img(118, inherit);
		  }
		  &-vk-link {
			top: 113px;
			left: 34px;
		  }
		  &-ig-photo {
			top: 193px;
			left: 61px;
			@include rhombus-img(118, inherit);
		  }
		  &-ig-link {
			top: 282px;
			left: 34px;
		  }
		  &-all {
			top: 78px;
			left: 158px;
			@include rhombus-img(179, inherit);
		  }
		  &-previous {
			top: 209px;
			left: 321px;
		  }
		  &-next {
			top: 242px;
			left: 288px;
		  }
		  &-vk-link, &-ig-link, &-previous, &-next {
			width: 44px;
			height: 44px;
		  }
		}
	  }
	}
  }
}
