@import "common/fonts";
@import "components/response";
@import "common/varibles";
@import "common/rhombus";
@import "components/background";
@import "components/menu";
@import "components/sidebar-menu";
@import "components/sign-up";
@import "components/loader";
@import "pages/main";
@import "pages/live";
@import "pages/styles";
@import "pages/teachers";
@import "pages/review";
@import "pages/schedule";
@import "pages/contacts";
@import "components/range-slider";
@import "components/modal";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: #fff;
}

body {
  font-size: 14px;
}

.container {
  min-height: 100vh;
  margin: auto;
  width: 1200px;
}

h2 {
  font-size: 45px;
  text-transform: $up;
  font-family: $bold;
  padding: 10px 0;
  i {
	font-style: normal;
	font-family: $ultra;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

.content-page {
  height: calc(100vh - 220px);
  overflow: auto;
}

.wrapper, .wrapper-menu {
  position: fixed;
  background-color: rgba(29, 29, 29, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  transition: all 0.3s;
  opacity: 1;
  pointer-events: auto;
}
.wrapper-menu {
  z-index: 998;
}
@media #{$laptop} {
  .container {
    width: 1024px;
  }
  .content-page {
    padding: 0 8px;
  }
}

@media #{$tablet} {
  .container {
    width: 100%;
  }
  .content-page {
    height: calc(100vh - 190px);
    width: 768px;
    margin: auto;
  }
}
/* Расширения, которые будут использоваться для адаптивной верстки:
    small:
   320px - 384px $mini
   385px - 414px $small
   415px - 480px $mobile
   481px - 568px $retina
    medium:
   569px - 600px $phone-plus
   601px - 667px $medium
   668px - 736px $map-case
   737px - 768px $laptop
    large:

   Новые расчеты:
   от 0 до 767
   от 768 до 1023
   от 1024 до 1199
   от 1200

  */
